
<!DOCTYPE html>

<html>
    <head>
        <title>Persons</title>
    </head>
    <body>
        <div>
              PersonsController, gå til @Html.ActionLink("HomeController", "Index", "Home")
        </div>
    </body>
</html>