<!DOCTYPE html>

<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <div>
            HomeController, gå til @Html.ActionLink("PersonsController", "Index", "Persons")  
        </div>
    </body>
</html>